.main-content {
  max-width: 1400px;
  margin: 20px auto;
  padding: 0 20px;
}


h1 {
  font-size: 32px;
  margin: 10px 0;
}

.presupuesto-info {
  color: #617589;
  font-size: 14px;
  margin-bottom: 20px;
}


.progress-section {
  margin-bottom: 30px;
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon_blue {
  width: 12px;
  height: 12px;
  border-radius: 50%;
   background-color: #137fec;
}



.progress-text {
  font-weight: bold;
  margin: 8px 0;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #dbe0e6;
  border-radius: 5px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: #137fec;
  width: 60%;
  border: 260px solid #137fec;
}


.budget-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.budget-table th,
.budget-table td {
  padding: 10px;
  border: 1px solid #dbe0e6;
  text-align: left;
  font-size: 14px;
}

.phase-header {
  background-color: #e5e5ff;
  font-weight: bold;
}

