@font-face {
    font-family: Open_Sans;
    src: url("../assets/fonts/Open_Sans/OpenSans-Italic.ttf");
}


body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
    font-family: Open_Sans;
    overflow-x: hidden;
}


.header {
    border-bottom: 1.5px solid #d1d5db;
    box-shadow: 0 2px 8px 0 rgba(30, 41, 59, 0.07);
    background: white;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 8px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}


.header__logo-container {
    align-items: center;
    gap: 0.75rem;
    display: flex;
    animation-name: logo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes logo {
    from {
        transform: translatex(-40px);
        opacity: 0;
    }
    to {
        transform: translatex(0);
        opacity: 1;
    }
}


.header__img {
    animation-name: logo-img;
    animation-duration: 1s;      
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes logo-img {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

.header__title {
    color: var(--color-text);
    font-size: 0.9rem;
    text-decoration: none;
    display: flex;
    font-size: 26px;
    transform: transform 0.3s;
}

.header__title:hover {
    transform: scale(1.05);
    letter-spacing: 2px;
}

.header__title--blue {
    color: #137fec;
}

.header__img {
    width: 40px;
    height: auto;
}



.nav__hamburguer {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 1rem;
    justify-content: flex-end;
    display: none;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
    animation-name: nav;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes nav {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.nav__item {
    list-style: none;
    display: flex;

}

.nav__link {
    display: flex;
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
    border-bottom: 2px solid transparent;
    transition: transform 0.3s;;
}


.nav__link:hover {
    transform: scale(1.05);
    letter-spacing: 2px;
}






.main {
    min-width: 550px;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "hero"
        "stats"
        "about"
        "cta";
}


.hero {
    height: 500px;
    background-image: url("../assets/images/photo-1622533087594-627c3aa0d68a.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    border-radius: 8px;
    grid-area: hero;
    justify-content: center;
}



.hero-content {
    position: relative;
    color: white;
    max-width: 600px;
}

.badge {
    background: orange;
    padding: 6px 12px;
    font-size: 14px;
    margin-bottom: 16px;
     animation: badge 2s ease forwards;
}

@keyframes badge {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.hero h2 {
    font-size: 48px;
    margin-bottom: 16px;
}

.hero-buttons {
    display: flex;
    gap: 12px;
}

.btn-primary {
    background-color: #137fec;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    animation: btn-primary 2s ease forwards;
}

@keyframes btn-primary {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.btn-outline {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    animation: btn-outline 2s ease forwards;
}

@keyframes btn-outline {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}



.stats__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 60px 0;
    color: #137fec;
    padding: 80px 30px;
    grid-area: stats;
}

.stats__container h3 {
    font-size: 30px;
    font-weight: bold;
    transform: transform 0.3s;
}

.stats__container h3:hover {
    transform: scale(1.05);
}

.stat-card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid rgba(30, 41, 59, 0.07);
    border: 2px solid rgb(192, 191, 191);
    
    animation: card 2s ease forwards;

}



@keyframes card {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about {
    background: #f1f5f9;
    padding: 80px 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    grid-area: about;
}


.about-image {
    background-image: url("../assets/images/depositphotos_63006497-stock-photo-group-of-builders-with-tablet.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    width: 50%;
    height: 420px;

    animation-name: about-image;
    animation-duration: 2s;      
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes about-image{
    from {
        transform: translateX(140px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.about-text {
    width: 50%;
    
    animation-name: about-text;
    animation-duration: 2s;      
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes about-text{
    from {
        transform: translateX(-140px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}



.btn-link {
    background: none;
    color: #137fec;
    font-weight: bold;
    border: none;
}


.cta {
  background: #137fec;
  color: white;
  padding: 80px 0;
  text-align: center;
    grid-area: cta;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
}

.btn-white {
  background: white;
  color: #137fec;
  padding: 12px 20px;
  border-radius: 8px;
  
    animation-name: btn-white;
    animation-duration: 2s;      
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes btn-white{
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.footer {
    max-width: 1400px;
    margin: 0 auto;
}

.container__footer {
    margin: 0 auto;

  background: white;
  padding: 60px 0 20px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1.5px solid #d1d5db;
}



.footer a {
  display: flex;
  text-decoration: none;
  color: #64748b;
  margin-top: 6px;
}

.footer a:hover {
  color: #137fec;
}

.copyright {
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
  color: #94a3b8;
}



/* responsive */

@media screen and (max-width: 768px) {

  
  .nav__hamburguer {
    display: block;
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
  }

  .nav {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #137fec;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    
   
    transition:  0.4s ease, opacity 0.4s ease;
    opacity: 0;
    z-index: 100;
  }

  
  .nav.activate {
    display: flex;
    
    opacity: 1;
  }


  .nav li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
  }
}


@media screen and (max-width: 550px) {
  .hero h2 {
    font-size: 28px;
    margin-bottom: 16px;
  }

  .hero-content {
    padding: 0 20px;
  }

  .about,
  .cta-buttons {
    flex-direction: column;
  }
}
